



<div class='md-padding' style="display:flex; flex-direction: row;" layout="row" layout-wrap>
  <mat-card style="width: 350px;" *ngFor="let cityClock of cityClockDataSelected">
    <mat-card-content>
      <h2 class='h2'>{{cityClock.name}}</h2>
      <app-analog [parentData]="cityClock"></app-analog>
    </mat-card-content>    
  </mat-card>
</div>

<div style="padding: 20px">

  <mat-form-field appearance="fill">
    <mat-select (selectionChange)="chooseCity($any($event))" name="cityVaraible" [(value)]="selectedCity" placeholder="city">
      <mat-option *ngFor="let city of cityClockData" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>



</div>

